/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
  margin-top: 20%;
}

#formRegistrazione {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
}
